body{
    background-image: url('../../images/Space.jpg');
    background-size: 400%, 200%;
    background-position: center;
    background-repeat: no-repeat
}
ul.ulnav{
    border-radius: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(61, 61, 61)
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:rgb(220, 220, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: rgb(51, 51, 51);
}
span.subtitle{
    font-size: 15pt;
    font-family:sans-serif;
}
span.maintitle{
    font-size: 20pt;
    font-family:sans-serif;
}
a.nav{
    font-size: 11pt;
    font-family:sans-serif;
    text-decoration: none;
}
a.nav:hover{
    color:rgb(155,200,4);
}
#page_wrapper{
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    border: 2px solid rgb(61,61,61);
    padding: 10px;
    height: 1000px;
    width: 700 px;
    background-color: rgb(61, 61, 61, 55%);
}
p.p-content1{
    font-size: 12pt;
    color:white;
    font-family: sans-serif;
    text-align: center;
}
span.font1{
    font-size: 20pt;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}